*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --white: #fff;
  --light-grey: #e1e0e0;
  --dark-purple: #7c0e7c;
  --black: #000;
}


.footer {
  background: var(--white);
}

.footer p{
  background-color: black;
}

.footer ul {
  display: flex;
  justify-content: space-around;
}

.footer ul li {
  list-style: none;
  border-radius: 4px;
}

.footer ul li a {
  text-decoration: none;
  color: var(--black);
  padding: 10px;
  display: inline-block;
  width: 100%;
}

.footer ul li a:hover{
  background-color: var(--dark-purple);
}

